*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, svg {
    display: block;
    max-width: 100%;
}

:root {
    font-size: 14px;
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
  
    /* Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    background-color: red;
    width: 35%;
    min-height: 175px;
}


.product-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}


footer {
    margin-top: 2rem;
}

@media (max-width: 1024px){
    .product-card {
        width: 40%;
    }
}

@media (max-width: 800px){
    .product-card {
        width: 50%;
    }
}

@media (max-width: 450px){
     /** change the img based on width how? */
}

