*, *::before, *::after {
    box-sizing: border-box;
}


img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
    font-size: 14px;
    --fs-lg: 2.3rem;
    --fs-md: 1rem;
    --fs-sm: 0.95rem;
    --fw-b: 700;
    --fw-m: 500;
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --dark-green: 	hsl(166, 59%, 22%);
    --white: hsl(0, 0%, 100%);
}

main {
    background-color: var(--cream);
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;

}

.layout {
    flex-shrink: 3;
    width: 600px;
}

.product-card {
    margin: 0 2rem;
    border-radius: 5%;
    background-color: var(--white);
}

.product-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    z-index: 1;
}

.product-card-right {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.product-card-right * {
    margin: 0.375rem;
}


img {
    border-radius: 5% 0 0 5%;
}


.big-button {
    color: var(--white);
    background-color: var(--dark-cyan);
    border-radius: 0.5rem;
    height: 3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.big-button:hover {
    background-color: var(--dark-green);
}

.product-price {
    color: var(--dark-cyan);
}

.product, .product-info, .product-price > span {
    color: var(--dark-grayish-blue);
}

.product-price > span {
    text-decoration: line-through;
    position: absolute;
    margin-left: 0.5rem;
}


.product, .product-info, .product-price > span, .big-button {
    font-family: 'Montserrat', sans-serif;
}

.product-price, .product-name {
    font-family: 'Fraunces', serif;
}

.product, .product-info, .big-button {
    font-size: var(--fs-md);
    font-weight: var(--fw-m);
}

.product-price > span, .product-info {
    font-size: var(--fs-sm);
    font-weight: var(--fw-m);
}

.product-name, .product-price {
    font-size: var(--fs-lg);
}

.product-name {
    font-weight: var(--fw-b);
}

.product-price{
    font-weight: var(--fw-m);
} 

@media (min-width: 1024px) {
    .product-card {
        width: 700px;
    }
}

@media (max-width: 430px) {
    img {
        border-radius: 5% 5% 0 0;
        content: url(./images/image-product-mobile.jpg);
    }

    :root {
        --fs-lg: 1.825rem;
        --fs-md: 1.125rem;
        --fs-sm: 0.925rem;
    }
}

